<!doctype html>
<meta charset="UTF-8">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/main.css">

{% include "header.html" with title=assignment.title|add:" - CS 3550" %}

<header>
    <h1>{{ assignment.title }}</h1>
    <h2>Due {{ assignment.deadline|date:"M d" }}, total of {{ assignment.points }} point{{ assignment.points|pluralize }}</h2>
</header>

<main>
    <div class="action_box">
        <p>Currently {{ total_submissions }}/{{ total_students }} submission{{ total_students|pluralize }}</p>
        <p>{{ my_submissions }} submission{{ my_submissions|pluralize }} assigned to you <a href="/{{ assignment.id }}/submissions" title="Grade submissions">Grade</a></p>
    </div>
    <h2>Description</h2>
    {{ assignment.description|safe }}
</main>