<!doctype html>
<meta charset="UTF-8">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/main.css">

{% include "header.html" with title=assignment.title|add:" - CS 3550" %}

<header>
    <h1>{{ assignment.title }}</h1>
    <h2>Due {{ assignment.deadline|date:"M d" }}, total of {{ assignment.points }}
        point{{ assignment.points|pluralize }}</h2>
</header>

<main>
    {% if is_student %}
    <div class="action_box">
        {% if student_submission_file %}
        <p>Current submission: <a href="{{ student_submission_file }}">{{ student_submission_filename }}</a></p>
        {% else %}
        <p>No current submission</p>
        {% endif %}
        <form action="/{{ assignment.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td>
                            <input type="file" name="assignment-submission">
                            <button type="submit">Submit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    {% else %}
    <div class="action_box">
        <p>Currently {{ total_submissions }}/{{ total_students }} submission{{ total_students|pluralize }}</p>
        <p class="assigned-submissions">{{ grader_submissions_count }} submission{{ grader_submissions_count|pluralize }} assigned to you <a
                href="/{{ assignment.id }}/submissions" title="Grade submissions">Grade</a></p>
    </div>
    {% endif %}
    <h2>Description</h2>
    {{ assignment.description|safe }}
</main>