<!doctype html>
<meta charset="UTF-8">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/main.css">

{% include "header.html" with title="Assignments" %}

<header>
    <h1>All assignments</h1>
</header>

<main>
    <table>
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Due date</th>
                <th class="col_num">Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for a in assignments %}
            <tr>
                <td><a href="/{{ a.id }}/">{{ a.title }}</a></td>
                <td>{{ a.deadline|date:"M d" }}</td>
                <td class="col_num">{{ a.weight }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>