<!doctype html>
<meta charset="UTF-8">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/main.css">

{% include "header.html" with title="Profile" %}

<header>
    <h1>Your grades</h1>
</header>

<main>
    <div class="action_box">
        {% if is_logged_in %}
        <p>Currently logged in as {{ username }}. <a href="/profile/logout/" role="button">Log out</a></p>
        {% else %}
        <p>Currently not logged in. <a href="/profile/logout/" role="button">Log in</a></p>
        {% endif %}
    </div>
    {% if is_logged_in %}
    <table class="sortable">
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="col_num">Graded</th>
            </tr>
        </thead>
        <tbody>
            {% for data in assignments_data %}
            <tr>
                <td><a href="/{{ data.assignment.id }}/">{{ data.assignment.title }}</a></td>
                {% if is_ta %}
                <td class="col_num">{{ data.my_graded }}/{{ data.my_submissions }}</td>
                {% else %}
                <td class="col_num">{{ data.my_graded }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        {% if not is_ta %}
        <tfoot class="current_grade">
            <tr>
                <td>Final grade</td>
                <td class="col_num">{{ final_grade }}</td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
    {% endif %}
</main>