<!doctype html>
<meta charset="UTF-8">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/main.css">

{% include "header.html" with title="Profile" %}

<header>
    <h1>Your grades</h1>
</header>

<main>
    <div class="action_box">
        <p>Currently logged in as ta1. <a href="/profile/login/" role="button">Log out</a></p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="col_num">Graded</th>
            </tr>
        </thead>
        <tbody>
            {% for data in assignments_data %}
            <tr>
                <td><a href="/{{ data.assignment.id }}/">{{ data.assignment.title }}</a></td>
                <td class="col_num">{{ data.my_graded }}/{{ data.my_submissions }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>