<!doctype html>
<meta charset="UTF-8">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/main.css">

{% include "header.html" with title=a_title %}

<header>
    <h1>{{ a_title }}</h1>
    <h2>All grades out of {{ a_points }}</h2>
</header>

<main>
    <form action="" method="post">
        <table>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Submission</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for data in submissions_data %}
                <tr>
                    <td><label for="grade_{{ data.student }}">{{ data.student }}</label></td>
                    <td><a href="{{ data.file }}">Submission</a></td>
                    <td><input type="number" id="grade_{{ data.student }}" name="grade_{{ data.student }}" value="{{ data.score }}" required></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" tabindex="3">Submit</button>
        <a href="/{{ a_id }}/">Back to assignment</a>
    </form>
</main>