<!doctype html>
<meta charset="UTF-8">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/main.css">

{% include "header.html" with title=a_title %}

<header>
    <h1>{{ a_title }}</h1>
    <h2>All grades out of {{ a_points }}</h2>
</header>

<main>
    <form action="/{{ a_id }}/submissions/" method="post">
        {% csrf_token %}
        {% for e in generic_errors %}
        <output>{{ e.msg }}</output>
        {% endfor %}
        <table>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Submission</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for data in submissions_data %}
                <tr>
                    <td><label for="grade-{{ data.id }}">{{ data.student }}</label></td>
                    <td><a href="{{ data.file }}">Submission</a></td>
                    <td><input type="number" min="0" max="{{ a_points }}" step="0.01" id="grade-{{ data.id }}"
                            name="grade-{{ data.id }}" value="{{ data.score }}"></td>
                    {% if data.error_msg %}
                    <td><output>{{ data.error_msg }}</output></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <button type="submit" tabindex="3">Submit</button>
                        <a href="/{{ a_id }}/">Back to assignment</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</main>