/* Phase 2: Typography */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');

body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.25;
}
code {
    font-family: "IBM Plex Mono", monospace;
}

table {
    line-height: 1.5;
}

nav {
    font-size: 125%;
}
nav a {
    color: #444;
}
nav h1 {
    font-size: 125%;
    font-weight: 700;
}

header h1 {
    font-size: 150%;
}
h2 {
    font-size: 100%;
}

.login label, .login input, .login button {
    font-size: 125%;
}

/* Phase 3: Styling Links, Forms, and Tables */
nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

main table {
    width: 100%;
}
.col_num {
    text-align: right;
}
table th {
    text-align: left;
}

.login td {
    padding-bottom: 1rem;
    width: 50%;
}
.login_input {
    text-align: right;
}
.login tfoot {
    text-align: center;
}
input, .login label {
    width: 100%;
}
.login button {
    width: 50%;
}

/* Phase 4: Borders, backgrounds, and whitespace */
html, body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ddd;
    box-shadow: 0 0 5px gray;
    margin-bottom: 3rem;
}
nav h1 {
    color: black;
    /* it's already bolded from phase 2 */
}
nav a {
    color: #444;
    font-weight: 400;
}

.action_box {
    background-color: #b1c3de;
    border: 3px solid #204a87;
    padding: 0 1rem;
}

nav div {
    padding: 0.5rem 1rem;
}
nav h1, nav a{
    padding: 0;
    margin: 0;
}
header, main {
    margin: 0rem 1rem;
}

main p, main ul {
    margin-bottom: 1rem;
}
main h2, main table, .action_box {
    margin: 1rem 0rem;
}

header h1 {
    border-bottom: 1px solid #ddd;
    margin: 0;
}
header h2 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 1rem;
}

/* Phase 5: Flexible Box Layout */
nav div {
    display: flex;
    align-items: center;
}
nav h1 {
    margin-right: 1rem;
}
nav a:last-child {
    margin-left: auto;
}

.action_box .assigned-submissions{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 52rem) {
	nav div, header, main {
		width: 50rem;
		margin: 0 auto;
	}
}

/* Homework 4 changes here */
output {
    color: red;
    font-weight: 700;
}
input:invalid {
    border: 2px solid red;
}