@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');


body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.25;
}
code {
    font-family: "IBM Plex Mono", monospace;
}

table {
    line-height: 1.5;
}

nav {
    font-size: 125%;
}
nav a {
    color: #444;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav h1 {
    font-weight: 700;
}

header h1 {
    font-size: 150%;
}
header h2 {
    font-size: 100%;
}

.login, .login input, .login button {
    font-size: 125%;
}
.login td{
    padding-bottom: 1rem;
    width: 50%;
}
.login_input{
    text-align: right;
}
.login tfoot {
    text-align: center;
}
/* make each part of the login half as wide as main content*/
.login input, .login label{
    width: 100%;
}
.login button {
    width: 50%;
}

main table {
    width: 100%;
}
table th {
    text-align: left;
}
.col_num {
    text-align: right;
}